html, body {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
color: black;
  background-display: none;
  background-repeat:no-repeat;
  background-image: url("https://i.postimg.cc/YCSK7w0G/30-04-20-Glove-Texts.png");
}

  /*
#wipeyCanvas {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	position: fixed;
/* 	z-index: 9999; */
/* 	transition: opacity 2.4s ease; */
/* } */

/* .canvasTransparent #wipeyCanvas {
	opacity: 0;
}
 */
